if ! hash rustup 2>/dev/null; then
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

if ! hash ssvmup 2>/dev/null; then
curl https://raw.githubusercontent.com/second-state/ssvmup/master/installer/init.sh -sSf | sh
fi

if ! hash wasm-pack 2>/dev/null; then
curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
fi
